
<div class="weather-card one">
  <div class="top">
    <div class="wrapper">
      <div class="mynav">
        <a href="javascript:;"><i class="bi bi-gear" style="color:white;float:right; font-size:20px;"></i></a>
        <a href="javascript:;" (click)="onCardClicked()"><i class="bi bi-cursor" style="color:white;float:left; font-size:20px;"></i></a>
      </div>
      <h1 class="heading">{{currentFeatureModel.title}}</h1>
      <h3 class="location">{{currentFeatureModel.description}}</h3>
    </div>
  </div>
  <div class="bottom">
    <div class="wrapper">
      <ul class="forecast">
        
        <li class="active">
          <span class="date">Yesterday</span>
        </li>
        
      </ul>
    </div>
  </div>
</div>
